doctype html
html
	head
		title Admin | Book Store
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			.row
				.col-md-12
					h1 TechBooks Admin

		.navbar.navbar-inverse
			.container
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(title === 'Dashboard' ? 'active' : ''))
							a(href="/manage") Dashboard
						li(class=(title === 'Books' ? 'active' : ''))
							a(href="/manage/books") Books
						li(class=(title === 'Categories' ? 'active' : ''))
							a(href="/manage/categories") Categories
						li
							a(href="/", target="_blank") View Site

		!= messages()
		block content

		footer.container
			.row
				hr
				p.text-center
					| TechBooks &copy; 2015
					a(href="/manage") Manage

		script(src="/javascripts/jquery.min.js")
		script(src="/javascripts/bootstrap.js")
		script(src="/javascripts/main.js")
